<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Camera.YCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.XCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.WCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.VCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.UCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.TCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.SCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.RCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.QCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.PCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.OCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.NCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.MCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.LCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.KCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.JCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.ICamera"
            android:exported="false" />
        <activity
            android:name=".Camera.HCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.GCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.FCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.ECamera"
            android:exported="false" />
        <activity
            android:name=".Camera.DCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.CCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.BCamera"
            android:exported="false" />
        <activity
            android:name=".Camera.ACamera"
            android:exported="false" />
        <activity
            android:name=".FSLActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FSLGreetings"
            android:exported="false" />
        <activity
            android:name=".Information2Activity"
            android:exported="false" />
        <activity
            android:name=".MiniGames.GameActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MiniGames.GameContainer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name=".Alphabet2Camera"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GreetingCamera"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NumberCamera"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LearnGreeting"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Alphabet1Camera"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LearnNumber"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LearnAlphabet"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ASLActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>